* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* //登入卡 */
body {
  font-family: "Noto Sans TC", sans-serif;
  /* font-family: "Helvetica"; */
}
.M-loginWrapper {
  width: 23.4rem;
  height: 41.7rem;
  /* border: 1px solid black; */
  /* margin: 10px 10px; */
  position: relative;
  background: coral;
  padding-top: 0.1rem;
  /* overflow: hidden; */
}

.M-logCard {
  width: 21.1rem;
  height: 39.5rem;
  background: teal;
  background: white;
  margin: 1.03rem auto;
  transition: 1s;
  text-align: center;
  padding-top: 1rem;
  /* display: none; */
}
.M-logCard.active {
  display: none;
}

.M-regCard {
  width: 21.1rem;
  height: 39.5rem;
  background: red;
  background: white;
  margin: 1rem auto;
  padding-top: 1rem;
  text-align: center;
}

.M-moveBrick1 {
  width: 15rem;
  height: 1.1rem;
  /* border: 1px solid green; */
  background: white;
  position: absolute;
  transition: 0.75s;
  left: 1.1rem;
  top: 0;
}
.M-moveBrick2 {
  width: 15rem;
  height: 1.1rem;
  /* border: 1px solid green; */
  position: absolute;
  transition: 0.75s;
  background: white;
  left: 7.25rem;
  bottom: 0rem;
}
.M-moveBrick3 {
  width: 1.1rem;
  height: 18rem;
  background: white;
  transition: 0.75s;
  /* border: 1px solid blueviolet; */
  position: absolute;
  top: 16rem;
}
.M-moveBrick4 {
  width: 1.1rem;
  height: 18rem;
  background: white;
  transition: 0.75s;
  /* border: 1px solid blueviolet; */
  position: absolute;
  left: 22.25rem;
  top: 8rem;
}
.M-loginWrapper.active {
  background: cyan;
}
.M-moveBrick1.active {
  transform: translateX(6.15rem);
}
.M-moveBrick2.active {
  transform: translateX(-6.15rem);
}
.M-moveBrick3.active {
  transform: translateY(-8rem);
}
.M-moveBrick4.active {
  transform: translateY(8rem);
}
.M-fakeLogo {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  /* padding: 10px; */
  border: 1px black dotted;
}
.M-apiLog {
  margin: 0 auto;
  margin-top: 1rem;
  width: 6rem;
  display: flex;
}
.M-icon {
  width: 3rem;
  height: 3rem;
  margin: 0 0.1rem;
  border: 1px dotted black;
}

.M-logForm {
  position: relative;
}

.M-loginInput {
  /* background: red; */
  margin-top: 10px;
}

.M-loginBtn {
  /* margin: 0 auto;
  margin-top: 40px; */
  padding: 10px 30px;
  border: 1px solid #79cee2;
  color: #79cee2;
  font-size: 1.875rem;
  position: absolute;
  top: 9.5rem;
  left: 7rem;
}

.M-loginSwitch {
  width: 5rem;
  height: 5rem;
  border: 1px dotted black;
  position: absolute;
  top: 15rem;
  left: 2rem;
}

.M-regBtn {
  /* margin: 0 auto;
  margin-top: 40px; */
  padding: 10px 30px;
  border: 1px solid #79cee2;
  color: #79cee2;
  font-size: 1.875rem;
  position: absolute;
  top: 9.5rem;
  left: 7rem;
}

.M-regSwitch {
  width: 5rem;
  height: 5rem;
  border: 1px dotted black;
  position: absolute;
  top: 15rem;
  left: 2rem;
}
